body {
  background-color: #f6f6f6;
  font-family: sans-serif;
}
.sidebar {
  width: 160px;
  height: 100%;
  padding: 8px;
  border-right: 1px solid #b1d6f6;
  float: left;
}
#main {
  background-color: #ffffff;
  margin-left: 160px;
}

#welcome {
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  margin: 5px;
  margin-left: 1.4em;
}

#colgreen {
  background-color: #f7fffa;
  border: 1px solid #d5f1e1;
  margin: 5px;
  margin-left: 1.4em;
}

#colblue {
  background-color: #f6fafe;
  border: 1px solid #d1dff0;
  margin: 5px
}

#colpurple {
  background-color: #f9f5fe;
  border: 1px solid #dbcfef;
  margin: 5px;
  margin-left: 1.4em
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16.8px;
  font-weight: 700;
}

.right-align {
  text-align: right;
}

#header-green {
  background-color: #d5f1e1;
  border: 1px solid #a8beb2;
}

.img-article {
  float: left;
  margin: 5px 5px 5px 0px;
}
